.about {
  width: 100%;
  background-color: #ffffff;

  *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  &__mainTitle {
    font-family: "MontserratSemiBold";
    font-size: 50px;
    color: #ea7211;
    line-height: 1.21;
    padding: 103px 0px 0px 67px;
    letter-spacing: -0.1px;

  }

  // две колонки
  &__content {
    display: flex;
    gap: 40px; //расстояние между левой и правой колонками
    margin: 113px 0px 0px 95px; //расстояние двух колонок
  }


  // Левая колонка
  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 29px; //!!!!!!!!!!!!!!!!!

  }

  &__subtitle {
    font-family: "MontserratSemiBold";
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    margin: 0px 0px 12px 0px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 11.7px;
    letter-spacing: -0.1px;

    li {
      font-family: "MontserratRegular";
      font-size: 22px;
      color: #000000;
      line-height: 28px;
    }
  }

  // Правая колонка
  &__timeline {
    flex: 1;
    flex-direction: column;
    line-height: 50px;
    margin: 4px 10px 70px 0px;
    letter-spacing: 0px;
  }

  // (точка + текст)
  &__timelineItem {
    position: relative;
    padding-left: 0;
    margin-bottom: 38px;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: 1px;
      bottom: 3px; // заканчивается на уровне центра точки
      width: 2px;
      background-color: #ea7211;

    }

    p {
      font-family: "MontserratRegular";
      font-size: 22px;
      color: #000000;
      line-height: 21px;
      margin: 0px 0px 0px 62px;
      //gap: 20px;
      line-height: 26px;
      margin-bottom: -16px;
    }
  }

  // --- Оранжевая точка ---
  &__timelineDot {
    position: absolute;
    left: -15px;
    bottom: -1px;           // на уровне последней строки
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #ea7211;
  }
}