.hero {
  width: 100%;
  margin: 0 auto;

  // фото вверху
  &__image {
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  // текст внутри фото
  &__imageContent {
    padding: 40px 50px 80px 50px;
  }

  // ЗАГОЛОВОК
  &__title {
    font-family: "ProstoOneRegular", sans-serif;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.3;
    margin: 0px 0 90px 0;
  }

  // ПОДЗАГОЛОВОК
  &__subtitle {
    font-family: "MontserratRegular", sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.3;
    margin: 0;
  }

  // кнопка и текст
  &__bottom {
    display: flex;
    align-items: center;
    gap: 40px; // расстояние между кнопкой и текстом
    padding: 30px 50px 50px 50px;
    background-color:#F5F5F5;
  }

  // КНОПКА
  &__button {
    background-color: #00B412;
    color: #ffffff;
    font-family: "MontserratBold", sans-serif;
    font-size: 18px;
    padding: 22px 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;

    &:hover {
      background-color: #00B412;
    }
  }

  // ТЕКСТ СПРАВА ОТ КНОПКИ
  &__offer {
    font-family: "MontserratSemiBold", sans-serif;
    font-size: 18px;
    color: #000000;
    margin: 0;
    line-height: 1.4;
  }
}