.callRequest {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  &__header {
    background-color: #ffffff;
    padding: 0px 0px 0px 0px;
    text-align: center;
    
  }

  &__title {
    font-family: "MontserratSemiBold";
    font-size: 50px;
    color: #000000;
    margin: 125px 0px 150px 0px;
  }

  &__formSection {
    width: 1450px;
    height: 720px;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: flex;
  }

  
  &__bgLogoV {
    position: absolute;
    z-index: 0;
    left: -540px;
    top: 330px;
    width: 1086px;
    height: 914px;
    pointer-events: none;
  }


  &__formTitle {
    font-family: "MontserratBold";
    font-size: 50px;
    color: #000000;
    line-height: 1.2;
    margin: 60px 0px 0px 90px;
    padding: 0px;
  }


  &__disclaimer {
    font-family: "MontserratRegular";
    font-size: 20px;
    color: #000000;
    line-height: 1.4;
    margin: 13px 0px 144px 181px;
  }
}