.wrapper {
  background-color: #F5F5F5;
}

/* Внутренний контейнер — ограничивает ширину контента */
.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F5F5F5;
  overflow: hidden;
  position: relative;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}